{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	request_body {
		max_size 16MB
	}

	header {
		Strict-Transport-Security "max-age=86400"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	reverse_proxy app:3000

	log {
		format json
	}
}
